<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONCRETE JUNGLE</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/config/general.css')}}">
</head>
<body>
    



    <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/config/general.js')}}"></script>
</body>
</html>