<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} Inicio | CONCRETE JUNGLE{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/login.css')}}">
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    </style>
    <div class="contenidoLogin" id="contenidoLogin">
        {% extends 'principal.html' %}

        {% block principal %}
        <div class="punto">
            <div class="form-container">
                <p class="title">Login</p>
                <form class="form">
                    <div class="input-group">
                        <label for="name">Nombre</label>
                        <input placeholder="username" id="username" name="username" type="text" />
                        <label for="Password">Contraseña</label>
                        <input placeholder="password" id="Password" name="password" type="password" />
                    </div>
                    <div class="enviar">
                        <a href="#" style="margin-top:6%;" class="sign">Enviar</a>
                    </div>
                    
                </form>
                <div class="social-message">
                    <a href="/register">¿Aun no tienes cuenta? Registrate...</a>
                </div>
            </div>
        </div>



        {% endblock %}
    </div>

</body>

</html>