<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/principal.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/config/general.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/config/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/config/header.css')}}">
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
    </style>
    <header class="cabezaDePagina" id="cabezaDePagina">
        <div class="contenedorHeader">
            <div class="logoHeader">
                <p>Concrete Jungle</p>
            </div>
            <nav class="registresLogin" id="registresLogin">
                <a href="javascript:window.history.back();" id="registresLogin_boton">Atrás</a>
            </nav>
        </div>
    </header>

    <main>
        {% block principal %}
        
        {% endblock %}
    </main>

    <footer>

    </footer>
</body>
</html>